<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Student DAta Profile</h1>
    <% allStudent.forEach((element)=>{%>
        <h2><%= element.name %></h2>
        <h2><%= element.Age %></h2>
        <h2><%= element.Course %></h2>
        <hr>
    <%})%>
    
</body>
</html>